
body{
	background-image: url(../images/moonTile.png);
	background-size: 150px;
	padding: 0px;
	margin: 0px;
}

.sky{
	width: 100%;
	height: 350px;
	background: linear-gradient(to bottom, #202020 50%,#515851 100%);
}

.ground{
	width: 100%;
	height: 64px;
	background-color: #e0e0e0;
	position: relative;
}

#katnis{
	position: absolute;
	top: -80px;
}

